.body {
    height: fit-content;
    padding: 8px;

    display: grid;
    grid-template-columns: 90% 10%;
}

@media (min-width: 600px) {
    .body {
        display: grid;
        grid-template-columns: 90% 10%;
        border-radius: 20px;
    }
}

/*@media (max-width: 600px) {*/
/*    .body {*/
/*        height: 30vh;*/
/*        display: grid;*/
/*        grid-template-rows: 50% 50%;*/
/*    }*/

/*}*/
